<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialTrailsApp"
        tools:targetApi="31">
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA0fTMwiCSxxNp18DLvIfmCEwF1F2FW1PU" />

        <activity
            android:name=".adminpanel.AdminFollowingsActivity"
            android:exported="false" />
        <activity
            android:name=".adminpanel.AdminFollowersActivity"
            android:exported="false" />
        <activity
            android:name=".adminpanel.AdminReportViewActivity"
            android:exported="false" />
        <activity
            android:name=".FollowingsList"
            android:exported="false" />
        <activity
            android:name=".FollowersList"
            android:exported="false" />
        <activity
            android:name=".adminpanel.AdminPostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".FollowNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".FollowUnfollowActivity"
            android:exported="false" />
        <activity
            android:name=".UserPostEditActivity"
            android:exported="false" />
        <activity
            android:name=".UserPostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".adminpanel.ModeratorlistActivity"
            android:exported="false" />
        <activity
            android:name=".adminpanel.AdminUserViewActivity"
            android:exported="false" />
        <activity
            android:name=".ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".adminpanel.AdminListofUsersActivity"
            android:exported="false" />
        <activity
            android:name=".adminpanel.AdminCreateModeratorActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".adminpanel.AdminChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".adminpanel.AdminSettingActivity"
            android:exported="false" />
        <activity
            android:name=".adminpanel.AdminBottomMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".userSettingActivity"
            android:exported="false" />
        <activity
            android:name=".BottomMenuActivity"
            android:exported="false" />
        <activity
            android:name=".changePassword"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adminpanel.DashBoardActivity"
            android:exported="false" />
        <activity android:name=".SearchUserActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>